<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.wenmin92.androidlearn">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".widget.recyclerview.NestRecyclerActivity" />
        <activity android:name=".text.TextTestActivity" />
        <activity android:name=".view.viewpager.ViewPagerRvActivity" />
        <activity android:name=".graphics.canvas.CanvasTestActivity" />
        <activity android:name=".graphics.paint.other.ShadowLayerActivity" />
        <activity android:name=".view.popupwindow.PopupWindowActivity" />
        <activity android:name=".storage.StorageTestActivity" />
        <activity android:name=".view.statusbar.StatusBarTestActivity" />
        <activity android:name=".graphics.paint.shader.ShaderTestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.location.LocationActivity" />
        <activity android:name=".view.constraint.ConstraintActivity" />
        <activity android:name=".keyboard.KeyboardActivity" />
        <activity android:name=".view.style.StyleActivity" />
        <activity android:name=".view.anim.AnimActivity" />
        <activity android:name=".view.custom.CustomViewActivity" />
        <activity android:name=".graphics.paint.path_effect.PathEffectTestActivity" />
        <activity android:name=".view.anim.AddViewAnimActivity" />
    </application>

</manifest>